@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hoves";
  src: url(../public/assets/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Regular.ttf);
}
@font-face {
  font-family: "HovesBold";
  src: url(../public/assets/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Bold.ttf);
}
@font-face {
  font-family: "HovesLight";
  src: url(../public/assets/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Light.ttf);
}

body {
  margin: 0;
  background-color: #2B2631
}
.exp-reg{
  font-family: "Hoves", sans-serif;
}
.exp-bold{
  font-family: "HovesBold", sans-serif;
}
.exp-light{
  font-family: "HovesLight", sans-serif;
}